@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Uni';
	src: url('/fonts/FontsFree-Net-uni05_53.ttf');
	font-display: swap;
}